@model Model.AlchemyCost
<tr id="cost-@Model.Id" data-id="@Model.Id" data-cardid="@Model.CardId">
    <td>@Html.DisplayFor(model => model.AlchemyElement)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement1)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement2)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement3)</td>
    <td>
        <span class="edit-up glyphicon glyphicon-arrow-up"></span>
        <span class="edit-down glyphicon glyphicon-arrow-down"></span>
        <span class="edit-remove glyphicon glyphicon-remove"></span>
        <span class="edit glyphicon glyphicon-pencil"></span>
        <span class="edit glyphicon glyphicon-edit"></span>
    </td>
</tr>