@using Microsoft.Ajax.Utilities
@using Model
@model Model.AlchemyCost
<tr data-id="@Model.Id" data-cardid="@Model.CardId">
    <td>@Html.DisplayFor(model => model.Order)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement1)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement2)</td>
    <td>@Html.DisplayFor(model => model.AlchemyElement3)</td>
    <td>
        <span class="table-up glyphicon glyphicon-arrow-up"></span>
        <span class="table-down glyphicon glyphicon-arrow-down"></span>
        <span class="table-remove glyphicon glyphicon-remove"></span>
    </td>
</tr>



